[submodule "modules/github.com/bufbuild/protoc-gen-validate"]
	path = modules/github.com/bufbuild/protoc-gen-validate
	url = https://github.com/bufbuild/protoc-gen-validate.git
[submodule "modules/github.com/googleapis/googleapis"]
	path = modules/github.com/googleapis/googleapis
	url = https://github.com/googleapis/googleapis.git
