[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "third_party/protovalidate"]
	path = third_party/protovalidate
	url = git@github.com:bufbuild/protovalidate.git
